@model LogInViewModel
<h4>LogIn</h4>

<form method="post">
    <p>
        user Name: <input asp-for="UserName" />
    </p>
    <p>
        password: <input asp-for="Password" />
    </p>

    <input type="submit" value="Login" />
</form>