@model RegisterViewModel
<h4>LogIn</h4>

<form method="post">
    <p>
        user Name: <input asp-for="Email" />
    </p>
    <p>
            password: <input asp-for="password" />
        </p>
    <p>
        password: <input asp-for="ConfirmPassword" />
    </p>

    <input type="submit" value="Login" />
</form>